/* These styles are based on the USWDS Prose element */
/* but the headings are each one level lower */

/* In emails, CSS is generally safe to use for typography */
/* but CSS alone will not work with layout (sections with padding, etc) */
/* and CSS alone will not work for link-buttons */
/* for layout and buttons, you will need a tool that creates those from table elements */

body {
  color: #171717;
  background-color: #f0f0f0;
  line-height: 1.5;
  font-size: medium;
  font-size: max(16px, 1rem);
  margin: 0;
}

h1,
h2,
h3 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

h1 {
  font-size: 1.71em;
}

h2 {
  font-size: 1.22em;
}

h3 {
  font-size: 0.98em;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

div > ul {
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 3ch;
}

div > ol {
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 3ch;
}

ul li,
ol li {
  margin-bottom: 0.25em;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0.25em;
}

ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}

/* Layout classes */

.section {
  max-width: 68ex;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.main {
  background-color: #ffffff;
}

.header {
  font-size: 1.71em;
}

.footer {
  color: #71767a;
  background-color: #f0f0f0;
  padding-top: 1em;
  padding-bottom: 1em;
}
